{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

<table class=datebox>
<tr><td><a href="{{url_for('show_logs') + '?date=' + yesterday}}"><b>Yesterday</b></a></td> 
<td><b>{{day}}</b> {% if today %} (today) {% endif %}</td>
<td><a href="{{url_for('show_logs') + '?date=' + tomorrow}}"><b>Tomorrow</b></a></td>
</table>

<table class=logbox>
{% for l in logs %}
<tr>
<td>{{get_skill_name(l.activity_id).capitalize()}}</td>
<td>{{get_activity_name(l.activity_id).capitalize()}}</td>
<td>{% if get_activity_sessions(l.activity_id)=='m' %} {{l.time}} minutes {% endif %}</td>
<td>{{l.exp}}</td>
{% if addTrue %}<td><form action='/delete_log/{{l.id}}' method='post'><input type='submit' id='delete' onClick="return confirm('Are you sure?');" value='Delete'></form></td>{% endif %}</tr>
{% else %}
There's nothing here!
{% endfor %}
</table>

{% if addTrue %}
<form action="{{url_for('add_log')}}" method=post class=add-entry>
<dl>

<b>Skill:</b>
<select name=skill onChange='getActivities()' id="skill">
<option></option>
{% for s in skills %}
<option value={{s.id}}>{{s.name.capitalize()}}</option>
{% endfor %}
</select>

<span id=activities></span>

<!--  GRABS LIST OF SKILLS -->
<script>
<!-- 
//Browser Support Code
function getActivities(){
    var ajaxRequest;  // The variable that makes Ajax possible!
    var select = document.getElementById("skill");
    var s_id = select.value;
    
    try{
        // Opera 8.0+, Firefox, Safari
        ajaxRequest = new XMLHttpRequest();
    } catch (e){
        // Internet Explorer Browsers
        try{
            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
            try{
                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (e){
                // Something went wrong
                alert("Your browser broke!");
                return false;
            }
        }
    }
    ajaxRequest.onreadystatechange = function(){
    	if(ajaxRequest.readyState==4 && ajaxRequest.status==200){
    		/*document.getElementById('activities').innerHTML = ajaxRequest.responseText;*/
    		var result = JSON.parse(ajaxRequest.responseText);
    		var string = '<b>Activity</b>: <select name="activity" onChange="getActivityInfo()" id="activity">';
    		string += "<option></option>";
    		for (var k in result){
    			string += "<option value='"+k+"'>"+result[k]+"</option>";
    		}
    		string += "</select>"
    		document.getElementById('activities').innerHTML = string;
    	}
    }
    

    ajaxRequest.open("GET", "/fetch_all_activities/" + s_id, true);
    ajaxRequest.send(null);
}

</script>

<span id=time><input type=hidden name=time value='none'></span>
<span id=submit><input type=submit name="Log this"></span>


<!-- GRABS DATA FOR INDIVIDUAL SKILL -->
<script>
<!--

var t = document.getElementById("time");
var tText = '<b>Time:</b><input type=text name=time>';

var s = document.getElementById('submit');
s.style.display = 'none';

function getActivityInfo(){
    var ajaxRequest;  // The variable that makes Ajax possible!
    var select = document.getElementById("activity");
    var a_id = select.value;    
    try{
        // Opera 8.0+, Firefox, Safari
        ajaxRequest = new XMLHttpRequest();
    } catch (e){
        // Internet Explorer Browsers
        try{
            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
            try{
                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (e){
                // Something went wrong
                alert("Your browser broke!");
                return false;
            }
        }
    }
    ajaxRequest.onreadystatechange = function(){
        if(ajaxRequest.readyState==4 && ajaxRequest.status==200){
        	var activity = JSON.parse(ajaxRequest.responseText);
        	if (activity['sessions']==='m'){
        		t.innerHTML = tText;
        	}
        	s.style.display = 'block';
        	
        }
    }

    ajaxRequest.open("GET", "/fetch_one_activity/" + a_id, true);
    ajaxRequest.send(null);
}

//-->
</script>

</form>

{% endif %}

{% endif %}


{% endblock %}