{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

<a href="{{url_for('show_activities')}}">View Activities</a><br>

<table class=datebox>
<tr><td><a href="{{url_for('show_logs') + '?date=' + yesterday}}"><b>Yesterday</b></a></td> 
<td><b>{{day}}</b></td>
<td><a href="{{url_for('show_logs') + '?date=' + tomorrow}}"><b>Tomorrow</b></a></td>
</table>

<table class=logbox>
{% for l in logs %}
<tr><td>{{get_activity_name(l.activity_id).capitalize()}}</td>
<td>Activity name will go here</td>
<td>{% if get_activity_sessions(l.activity_id)=='m' %} {{l.time}} minutes {% endif %}</td></tr>
{% else %}
There's nothing here!
{% endfor %}
</table>

{% if addTrue %}
<form action="{{url_for('add_log')}}" method=post class=add-entry>
<dl>
<b>Activity:</b>
<select name=activity>
{% for a in activities %}
<option value={{a.id}}>{{a.name.capitalize()}}</option>
{% endfor %}
</select>
<b>Time</b><input type=text name=time><input type=submit name="Log this">
</form>

{% endif %}

{% endif %}


{% endblock %}